/* TODO Add shading to boxes */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --sidebar-main: #1892d4;
  --sidebar-font: white;
  --light-grey: #e2e8f1;
  --dark-grey: #636363;
  --font-colour: black;
  --profile-pic-colour: rgb(241, 152, 120);
  --card-tint: #f1b52a;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.iconify {
  font-size: 3rem;
  justify-self: center;
}

.iconify.large {
  font-size: 5.5rem;
}

.sidebar {
  padding-top: 1.5rem;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 50px repeat(auto-fit, minmax(2rem, 4rem));
  color: var(--sidebar-font);
  background-color: var(--sidebar-main);
  align-items: center;
  gap: 1.25rem;
}

.sidebar a {
  color: var(--sidebar-font);
  font-size: x-large;
  font-weight: bolder;
  /* Remove underline by default */
  text-decoration: none;
}

.sidebar .dashboard-link {
  font-size: xx-large;
}

.sidebar a:hover {
  /* Show underline when hovered over */
  text-decoration: underline;
}

.projects,
.side-content {
  background-color: var(--light-grey);
  padding: 2rem;
}

h2 {
  font-weight: 500;
  margin-bottom: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  gap: 3rem;
}
.card {
  padding: 2.5rem;
  background-color: var(--sidebar-font);
  border-left: 0.8rem var(--card-tint) solid;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.5rem 1rem var(--dark-grey);
}

.card > h3 {
  margin-bottom: 0.5rem;
}

.card > p {
  padding-right: 4rem;
  color: var(--dark-grey);
}
.logos {
  display: grid;
  margin-top: 5rem;
  grid-template-columns: 2fr repeat(3, minmax(3rem, 0.5fr));
  justify-content: space-between;
}

.card .iconify {
  color: var(--font-colour);
  /* margin-left: 2rem; */
  justify-content: space-evenly;
}

.main-content {
  /* split into two columns */
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.side-content {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(45rem, 1fr));
}

.announcements,
.trending {
  background-color: var(--sidebar-font);
  padding: 10%;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.5rem 1rem var(--dark-grey);
}

.announcement > p {
  padding-top: 0.5rem;
  font-size: 1.5rem;
  color: var(--dark-grey);
}

.trending {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 50px repeat(auto-fit, minmax(2rem, 4rem));
  color: var(--dark-grey);
  align-items: center;
  gap: 1.25rem;
}

.iconify.profile {
  color: var(--profile-pic-colour);
  font-size: 4rem;
}

.hline-bottom {
  margin: 2rem 0;
  border-bottom: 2px solid var(--light-grey);
}

.header {
  display: grid;
  grid-template-columns: 3fr auto;
  /* Vertical centrally aligned */
  align-items: center;
  padding: 0 6rem;
  color: var(--font-colour);
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.search {
  font-size: 2rem;
}

#search-bar {
  background-color: var(--light-grey);
  border-radius: 3rem;
  border: none;
  padding: 0.5rem 1.5rem;
  width: 90%;
}

.profile-info {
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
}

.content-buttons {
  justify-self: center;
}

button {
  background-color: var(--sidebar-main);
  color: var(--sidebar-font);
  font-size: 1.8rem;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  width: 11rem;
  margin: 0 1.5rem;
}

.welcome {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 2fr;
}

.welcome > .profile {
  grid-row-start: span 2;
  font-size: 10rem;
  align-self: center;
}

.welcome > p {
  align-self: end;
  font-weight: bold;
}

.welcome > .username {
  padding-top: 0.3rem;
  align-self: start;
  font-size: 2.4rem;
}

.profile-info > span {
  font-weight: bolder;
  font-size: 2.4rem;
}

.profile-info > .iconify,
.profile-info > span {
  margin: 0 2rem;
}

.profile-info > .profile {
  font-size: 5rem;
}
